@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .media{
    @apply flex-col
  }
}

.sidebar {
  @apply w-64 bg-gray-200 shadow flex-col justify-between h-full;
}
.navbar {
  @apply w-full bg-gray-900 shadow flex-row justify-between items-center;
}
.navbarResponsive{
  @apply w-64 bg-gray-900 shadow flex-col justify-between;
}
.sidebar-route {
  @apply rounded-md flex w-full justify-between cursor-pointer items-center m-3 p-3 border-t-2 border-b-2;
}

.input {
  @apply p-2 border border-indigo-200 focus:outline-none focus:border-blue-500 rounded-md shadow-sm;
}

.social{
  margin-top: 30px;
  display: flex;
  gap: 1rem;
}
.social a {
  width: 2rem;
  height: 2rem;
  border: 1.9px solid #727271;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #727271;
  font-size: 1rem;
}
.social a:hover {
  border: 1.9px solid #16baf9;
  color: #16baf9;
}

